<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="entry">
      {{#if addBook}}
        <h1 class="text-center">Add Book</h1>
        {{! ----------------------------------------------------------- To Add Book  }}
        <form style="width: 44%; margin:12px auto">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Book Title</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter Book Title"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Book Author</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter Book Author"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Book Description</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter Book Description"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {{! ---------------------------------------------------------------------  }}
        
        {{! ------------------------------------------------------------------ Edit Book  }}
      {{else}}
        <div class="edit-main">
          <form style="width: 44%; margin:12px auto">

            {{! ------------------------------------- Disable field  }}
            <fieldset disabled>
              <legend><b>Edit Book:</b>
                <sapn>{{searchedBook.title}}</sapn></legend>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Book Title</label>
                <input
                  disabled
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="{{searchedBook.title}}"
                />
                <label for="exampleInputEmail1" class="form-label">Book Author</label>
                <input
                  disabled
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  placeholder="{{searchedBook.author}}"
                />
              </div>
            </fieldset>
            {{! ------------------------------------- Disable field End }}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Book
                Description</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Edit Book Description"
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      {{/if}}

      {{! ------------------------------------------------------------------ Edit Book End }}
    </div>
  </body>
</html>