#List {
  list-style-type: none;
}
.list {
  list-style-type: none;
  border: 3px solid rgb(220, 226, 228);
  padding: 10px;
  width: 40%;
  float: left;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 23px;
}
li {
  margin-top: 10px;
  background-color: #fff;
  padding: 10px;
}
