<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <div class=" card card-size">
        <h3> <span>Book Title :</span>  <span class="text-font ml-29">{{this.title}}</span></h3>
        <p><b>Author :</b> <span class="text-font">{{this.author}}</span> </p>
        <p><b>Description :</b> <span class="text-font">{{this.description}}</span></p>
        <a href="/booksupdate/{{this.id}}"><button type="button" class="btn btn-dark">Edit</button></a>
       
    </div>
    <br>
   
</body>
</html>