.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-container {
  border: 2px solid rgb(14, 94, 141);
  text-align: center;
}
.listItem-main{
  margin-top: 14px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 8px;
}
.listItem-main h4{
  font-weight: 700;
  margin: 9px ;
  font-family: monospace;
}
.listItem-main img{
  width: 36%;
}
.list-main{
  border: 2px solid rgb(242, 247, 246);
}

.main-container button{
  /* border: 1px solid rgb(187, 240, 250); */
  padding: 8px;
  margin-bottom: 13px;
  cursor: pointer;
}

/* .main-container button:hover{
  color: rgb(10, 90, 128);
  background-color: greenyellow;
} */
.list-main-prim {
  display: flex;
  justify-content: space-between;
}