<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h1>Library</h1>
      <hr />
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi velit
        iste quaerat sit, obcaecati aspernatur at dolorum vitae eligendi debitis
        quis deserunt, natus esse rerum nesciunt quibusdam eaque, expedita iusto
        pariatur. Iure, ratione!</p>
    </div>
  </body>
</html>